<div class='row'>
  <div class='col-4'>
    <%= f.field_container :redemption_code do %>
      <%= f.label :redemption_code, class: 'required' %>
      <%= f.text_field :redemption_code, class: 'fullwidth', required: true %>
    <% end %>
  </div>
</div>
